.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.home-container {
  text-align: center;
  margin-top: 20px;
}

.cart-wrapper {
  width: 500px;
  border: 1px solid #ccc;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
  display: block;
  margin-bottom: 10px;
}

.img-wrapper img {
  width: 150px;
  border-radius: 8px;
}

.text-wrapper {
  margin-top: 10px;
  text-align: center;
}

.item-name {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-price {
  color: #555;
}

.btn-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.action-btn {
  background-color: #ff5c5c;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.action-btn:hover {
  background-color: #e04a4a;
}

.remove-btn {
  background-color: #4CAF50;
}

.remove-btn:hover {
  background-color: #45a049;
}

/* Styles for the Header component */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 8px; */
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-container {
  display: flex;
  align-items: center;
}

.add-to-cart {
  position: relative;
  cursor: pointer;
}

.cart-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.cart-icon:hover {
  transform: scale(1.1);
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #FF0000;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}